*.bbl
*.log
*.blg
.DS*
*.docx
*.doc

TSWLatexian*
.Rproj.user
FIG1-eps-converted-to.pdf
MIMOSA.aux
MIMOSA.synctex.gz
TIKZFig2-eps-converted-to.pdf
TIKZFig3-eps-converted-to.pdf
TIKZFig4-eps-converted-to.pdf
